<div class="card new-post-card">
  <div class="card-body">
    <div class="form-group">
      <label for="inputTitle">Post title</label>
      <input type="text" class="form-control mb-1" id="inputTitle" placeholder="Enter title"
        [(ngModel)]="newPost.title">
    </div>
    <div class="form-group">
      <label for="inputBody">Post text</label>
      <input type="text" class="form-control" id="inputBody" placeholder="Enter text" [(ngModel)]="newPost.body">
    </div>
    <button class="btn btn-primary" style="width: 100%;" (click)="apiCallCreatePost(newPost.title, newPost.body)">Create
      new post</button>
  </div>
</div>
