<!--The content below is only a placeholder and can be replaced.-->

<div class="main-container">
  <div class="mx-5 my-5">
    <h1>
      Posts app
    </h1>
    <p>Angular application with serverless CRUD backend.</p>


    <div class="mt5">
      <p>
        <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button"
          aria-expanded="false" aria-controls="collapseExample">
          Log in via AWS Amplify
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <app-amplify-auth></app-amplify-auth>
      </div>

    </div>
    <div class="mt-5">
      <app-new-post></app-new-post>

      <app-posts></app-posts>
    </div>

  </div>
</div>


<router-outlet></router-outlet>
